@model List<Publicacion>

@{
    ViewData["Title"] = "Lista de Publicaciones";
}



<div class="container-fluid mt-4">
    <div class="row">
        <!-- Filtros -->
        <div class="col-3 pt-4" style="background-color: rgba(217, 217, 217, 0.3);">
            <h5 class="text-center">Filtros</h5>
            <form asp-action="Index">
                <div class="form-group mb-4">
                    <div class="col">
                        @Html.Label("lblUbicacion", "Ubicación")
                    </div>
                    <div class="col">
                        @Html.DropDownList("valorLocaliza", ViewData["listaLocalizacion"] as SelectList, "Seleccione la ubicacion", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group mb-4">
                    <div class="col">
                        @Html.Label("lblSalario", "Pretensión salarial")
                    </div>
                    <div class="col">
                        @Html.DropDownList("valorSalario", ViewData["listaSalario"] as SelectList, "Seleccione un Salario", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group mb-4">
                    <div class="col">
                        @Html.Label("lblExperiencia", "Experiencia")
                    </div>
                    <div class="col">
                        @Html.DropDownList("valorExperiencia", ViewData["listaExperiencia"] as SelectList, "Seleccione la experiencia", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group mb-4">
                    <div class="col">
                        @Html.Label("lblEmpresa", "Empresa")
                    </div>
                    <div class="col">
                        @Html.DropDownList("valorEmpresa", ViewData["listaEmpresa"] as SelectList, "Seleccione una empresa", new { @class = "form-control" })
                    </div>
                </div>


                <div class="form-group mb-4">
                    <div class="col">
                        @Html.Label("lblContrato", "Tipo de contrato")
                    </div>
                    <div class="col">
                        @Html.DropDownList("tipoContrato", ViewData["listaContrato"] as SelectList, "Seleccione un tipo de contrato", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <input type="submit" class="btn btn-primary" value="Filtrar" />
                    </div>
                </div>
            </form>
        </div>

        <!-- Publicaciones -->
        <div class="col-md-9">
            <div class="row">
                @foreach (var publicacion in Model)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="@Url.Action("DetallePublicacion", new { id = publicacion.IdPublicacion })" class="mr-2">@publicacion.Titulo</a>
                                </h5>
                                <p class="card-text overflow-visible d-inline-block" style="height: 5rem">@publicacion.Descripcion</p>
                                <p class="card-text"><strong>@publicacion.Empresa.Nombre</strong></p>
                                <p class="card-text"><small class="text-muted">Fecha de publicación: @publicacion.FechaPublicacion.ToString("dd/MM/yyyy")</small></p>
                                <a href="@Url.Action("DetallePublicacion", new { id = publicacion.IdPublicacion })" class="btn btn-primary">Ver detalles</a>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


