@model List<ValoracionEmpresa>

@{
    ViewData["Title"] = "Lista de valoraciones";
}

<div class="container-fluid mt-4">
    <div class="row">
        <!-- Filtros -->
        <div class="col-3 pt-4" style="background-color: rgba(217, 217, 217, 0.3);">
            <h5 class="text-center">Filtros</h5>
            <form method="post">
                <div class="form-group mb-4">
                    <div class="col">
                        <div class="col">
                            @Html.DropDownList("selectedEmpresaId", ViewData["listaEmpresa"] as List<SelectListItem>, "Seleccione una empresa", new { @class = "form-control empresa-dropdown" })

                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <input type="submit" class="btn btn-primary" value="Buscar" />
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-4">
                            <a href="@Url.Action("Create", new { idEmpresa = ViewBag.selectedEmpresaId })" class="btn btn-primary create-link">Crear</a>

                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Valoraciones -->
        <div class="col-md-9">
            <div class="row">
                @foreach (var valoracion in Model)
                {
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                    @(valoracion.Empresa.Nombre ?? "Nombre de empresa desconocido")
                                    </h5>
                                    <p class="card-text overflow-visible d-inline-block" style="height: 5rem">Comentario: @valoracion.Comentario</p>

                                    <p class="card-text">Calificación: @valoracion.Calificacion</p>
                                </div>
                            </div>
                        </div>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />

        <script>
            $(document).ready(function () {
                $('.empresa-dropdown').change(function () {
                    var selectedId = $(this).val();
                    var createUrl = '@Url.Action("Create", "ValoracionEmpresas", new { idEmpresa = "__id__" })';
                    createUrl = createUrl.replace('__id__', selectedId);
                    $('.create-link').attr('href', createUrl);
                });
            });
        </script>
}