@model webFinal.Models.Usuario

@{
    ViewData["Title"] = "Details";
}


<<<<<<< Updated upstream

<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InformacionLaboral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InformacionLaboral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUsuario">Edit</a> |
    <a asp-action="Delete">Eliminar</a>
    <a asp-action="Index">Back to List</a>
=======
<br />
<br />
<br />
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/src/img/usuario.png" class="card-img-top"  alt="...">
                <div class="card-body">
                    <a class="col-sm-2">
                       ¡Bienvenido!
                        <p> @Html.DisplayFor(model => model.Nombre)
                            @Html.DisplayFor(model => model.Apellido)
                        </p>
                    </a>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Apellido)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Apellido)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.InformacionLaboral)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.InformacionLaboral)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Direccion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Direccion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Ciudad)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Ciudad)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Estado)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Pais)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Pais)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.contrasenia)
                    </dt>
                    <dd class="col-sm-10">
                        <a>********</a>
                    </dd>
                </dl>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.IdUsuario">Editar Información</a> |
                    <a asp-action="Delete" asp-route-id="@Model?.IdUsuario">Eliminar Cuenta</a>
                </div>
            </div>
        </div>
    </div>
>>>>>>> Stashed changes
</div>
