@model IEnumerable<webFinal.Models.Publicacion>

@{
    ViewData["Title"] = "Index";
}


<br />
<br />
<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Publicación</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experiencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo_contrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPublicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experiencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_contrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacion)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPublicacion" class="btn btn-primary">Editar</a> 
                @*<a asp-action="Details" asp-route-id="@item.IdPublicacion">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.IdPublicacion" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
