@{
    ViewData["Title"] = "Empleos";
}

<div class="container-fluid col-12">
    <!-- filtros -->
    <div class="col-3 row justify-content-center align-items-center pt-4" style="background-color: rgba(217, 217, 217, 0.3);">
        <h5 class="text-center">Filtros</h5>
        <form asp-action="CrearEquipos">
            <div class="form-group mb-4">
                <div class="col">
                    @Html.Label("lblUbicacion", "Ubicación")
                </div>
                <div class="col">
                    @Html.DropDownList("valorSalario", ViewData["listaSalario"] as SelectList, "Seleccione un Salario", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group mb-4">
                <div class="col">
                    @Html.Label("lblSalario", "Pretensión salarial")
                </div>
                <div class="col">
                    @Html.DropDownList("valorSalario", ViewData["listaSalario"] as SelectList, "Seleccione un Salario", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group mb-4">
                <div class="col">
                    @Html.Label("lblExperiencia", "Experiencia")
                </div>
                <div class="col">
                    @Html.DropDownList("valorSalario", ViewData["listaSalario"] as SelectList, "Seleccione un Salario", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group mb-4">
                <div class="col">
                    @Html.Label("lblEmpresa", "Empresa")
                </div>
                <div class="col">
                    @Html.DropDownList("valorSalario", ViewData["listaSalario"] as SelectList, "Seleccione un Salario", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group mb-4">
                <div class="col">
                    @Html.Label("lblContrato", "Tipo de contrato")
                </div>
                <div class="col">
                    @Html.DropDownList("valorSalario", ViewData["listaSalario"] as SelectList, "Seleccione un Salario", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row mb-4">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <input type="submit" class="btn btn-primary" value="Filtrar" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-9">
        <!-- insersion de cards con busquedas de trabajo -->

    </div>
</div>


